@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo y fuente general */
body {
  @apply bg-gradient-to-br from-green-200 via-blue-100 to-blue-300;
  font-family: 'Inter', sans-serif;
}
